    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

</head>
<body>

    <form name="name_form" action="/map_app/ajax/" method="POST">
    {% csrf_token %}
    <input type="number" step="0.01" id="id_input_ido" name="ido" value="36.32">
    <input type="number" step="0.01" id="id_input_keido" name="keido" value="139.00">
    <input class="btn" type="submit">
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!--  datatables js -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
    <!-- column visible -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <!-- save as csv-->

    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>



    <spac id="id_div_ajax_response">
        AJAX RESPONSE
    </spac>

    <div id="mapid"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script>
        var mymap = L.map('mapid').setView([36.3219088　, 139.0032936], 14);

        //地理院地図レイヤー追加
        L.tileLayer(
	        'http://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png',
	        {
		        attribution: "<a href='http://www.gsi.go.jp/kikakuchousei/kikakuchousei40182.html' target='_blank'>国土地理院</a>"
	        }
        ).addTo(mymap);
        //マーカー＆ポップアップ追加
        var marker = L.marker([36.3219088　, 139.0032936])
	        .bindPopup("Hello! Leaflet!")
	        .addTo(mymap);

        $("form").submit(function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.prop("action"),
                method: form.prop("method"),
                data: form.serialize(),
                timeout: 10000,
                dataType: "text",
            })
                .done(function (data) {
                    // alert("done");
                    var data = JSON.parse(data);
                    var ido = Number(data.ido);
                    var keido = Number(data.keido);
                    var latlng = [ido,keido]
                    $("#id_div_ajax_response").text(latlng);
                    mymap.setView(latlng, 13);
                    var marker = L.marker(latlng)
	                    .bindPopup("Hello! Leaflet!")
	                    .addTo(mymap);
                })
                .fail(function (data) {
                    // alert("fail");
                    $("#id_div_ajax_response").text(data);
                })
        });
    </script>
</body>
</html>